<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>

<body>

<div class="navbar">
    <div class="navbar-content">
        <a href="/index.html"><strong>{{ site.title }}</strong></a>
        <div>
            <a href="/index.html">Home</a>
            <a href="/projects/gallstone.html">Gallstone</a>
            <a href="/projects/obesity.html">Obesity</a>
            <a href="/projects/heartfailure.html">Heart Failure</a>
        </div>
    </div>
</div>

<div class="container">
    {{ content }}
</div>

<footer>
    © {{ site.time | date: "%Y" }} {{ site.title }} — All Rights Reserved
</footer>

</body>
</html>

